<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RazorMusic</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RazorMusic.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <header class="containter">
        <div class="razor-logo">
            <a href="Index">
                <img src="razor-logo.png" alt="RazorMusic Logo">
            </a>
        </div>
            <nav class="nav-horizontal">
                @if (Context.Session.GetInt32("IsLoggedIn") == 1)
                {
                <a class="nav-link text-dark" asp-area="" asp-page="/AlbumsView">Albums</a>
                }
                <a class="nav-link text-dark" asp-area="" asp-page="/About">About</a>
                <a class="nav-link text-dark" asp-area="" asp-page="/FAQ">FAQ</a>
                <a class="nav-link text-dark" asp-area="" asp-page="/Contact">Contact</a>
                @if (Context.Session.GetInt32("IsLoggedIn") == 1)
                {
                <a class="nav-link text-dark" asp-area="" asp-page="/MusicPlayer">Music Player</a>
                }
        </nav>  
        <div class="nav-horizontal">
            @if (Context.Session.GetInt32("IsLoggedIn") != 1)
            {
                <a class="nav-link text-dark" asp-area="" asp-page="/Login">
                    <button class="animated-btn">Login</button>
                </a>
                <a class="nav-link text-dark" asp-area="" asp-page="/Register">
                    <button class="animated-btn">Register</button>
                </a>
            }
            else{
                if(Context.Session.GetInt32("IsAdmin") == 1)
                {
                    <a class="nav-link text-dark" asp-area="" asp-page="/AdminView">
                        <button class="animated-btn">Admin</button>
                    </a>
                }
                <a class="nav-link text-dark" onclick="Logout()">
                    <button class="animated-btn">Logout</button>
                </a>
            }
           
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div>
            &copy; 2024 - RazorMusic
        </div>
        <div class="nav-horizontal">                
            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy Policy</a>
            <a class="nav-link text-dark" asp-area="" asp-page="/TermsOfUse">Terms Of Use</a>
            <a class="nav-link text-dark" asp-area="" asp-page="/About">About</a>
            <a class="nav-link text-dark" asp-area="" asp-page="/FAQ">FAQ</a>
            <a class="nav-link text-dark" asp-area="" asp-page="/Contact">Contact</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script>
    function Logout() {
        $.ajax({
            url: '/Index?handler=Logout',
            type: 'GET',
            async: false,
            success: function(response) {
                if (response.success) {
                    window.location.href = '/Login';
                } else {
                    console.error('Failed to logout');
                }
            },
            error: function() {
                console.error('Error in AJAX request');
            }
        });
    }
</script>
