* {
    padding: 0;
    margin: 0;
}

div {
    text-align: center;
}

ul li {
    list-style: none;
}

.row > p {
    font-size: 25px;
}

.row {
    font-size: 20px;
}

.button {
    line-height: 40px;
    border-radius: 7%;
    border-color: rgb(18, 83, 213);
    color: aliceblue;
}

button {
    background-color: rgb(18, 83, 213);
    padding: 3px 10px;
}

.col-lg-4 > p {
    margin-top: 16px;
    margin-bottom: 16px;
}

.Description {
    height: 150px;
}

.date {
    border-radius: 50 px;
}
