html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.table_component {
    overflow: auto;
    width: 80%;
}

.table_component table {
    border: 1px solid #dededf;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 1px;
}

.table_component caption {
    caption-side: top;
}

.table_component th {
    border: 1px solid #dededf;
    background-color: #eceff1;
    color: #000000;
    padding: 5px;
}

.table_component td {
    border: 1px solid #dededf;
    background-color: #ffffff;
    color: #000000;
    padding: 5px;
}



/* LOGIN AND REGISTER PAGE */

.login-container .form-input {
  margin-bottom: 10px;
}
.login-container .submit-button {
  margin-top: 10px;
}
.login-container .form-container {
  min-width: 400px; 
  align-items: center;
}
.login-container .form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}