@page
@model ContactModel
@{
    ViewData["Title"] = "Contact ";
}
<h1>@ViewData["Title"]</h1>

<div class="contact-container">
<p>Have questions or need assistance? Feel free to reach out to us!</p>

<div class="contact-info">
    <h3>Other Ways to Reach Us</h3>
    <p>Email: support@musiclibrary.com</p>
    <p>Phone: +1 (123) 456-7890</p>
    <p>Address: 123 Music Lane, Melody City, MA</p>
</div>
</div>

