@model LoginModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<form id="loginForm" method="post">
    <input asp-for="User.Email" placeholder="Email" />
    <span asp-validation-for="User.Email" class="text-danger"></span>

    <input asp-for="User.Password" type="password" placeholder="Password" />
    <span asp-validation-for="User.Password" class="text-danger"></span>

    <button type="submit">Login</button>
    <div id="loginError" class="text-danger">@Model.ErrorMessage</div>
</form>
