@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<style>
    .form-input {
        margin-bottom: 10px;
    }
    .submit-button {
        margin-top: 10px;
    }
    .form-container {
        min-width: 400px; 
        align-items: center;
    }
    .form-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }
</style>

<div class="form-wrapper">
    <form method="post">
        <div class="form-container">
            <h2>Register</h2>
            <div class="form-group">
                <label asp-for="User.FirstName" class="control-label">Name</label>
                <input asp-for="User.FirstName" class="form-control form-input" id="FirstName" placeholder="Enter your name" />
                <span asp-validation-for="User.FirstName" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="User.Email" class="control-label">Email</label>
                <input asp-for="User.Email" type="email" class="form-control form-input" id="Email" placeholder="Enter your email" />
                <span asp-validation-for="User.Email" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="User.Password" class="control-label">Password</label>
                <input asp-for="User.Password" type="password" class="form-control form-input" id="Password" placeholder="Enter your password" />
                <span asp-validation-for="User.Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="User.ConfirmPassword" class="control-label">Confirm Password</label>
                <input asp-for="User.ConfirmPassword" type="password" class="form-control form-input" id="ConfirmPassword" placeholder="Confirm your password" />
                <span asp-validation-for="User.ConfirmPassword" class="text-danger"></span>
            </div>
            
            <button style="margin-bottom: 10px;" type="submit" class="btn btn-primary submit-button">Register</button>
            <br />
            Already have an account? Click <a asp-page="/Login">here</a> to log in.
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");} 
}